.Dashboard {
  text-align: center;
 
  background-color: #1d4a27bd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  z-index:10;
}